  <h1> Welcome {{title}} </h1>
  

<div class="nav navbar-default">
  <a [routerLink]="'httpclient'" routerLinkActive >httpclient &nbsp;</a>
  <a [routerLink]="'test1'" routerLinkActive>Test1</a>
</div>    
<!-- <app-test1></app-test1> -->
  <!-- <div class="app-test2">
    division added
  </div>
  <app-ngif-test></app-ngif-test>
  <div app-test3></div> -->

   <!-- <app-template-forms></app-template-forms>

  <app-httpclient></app-httpclient> --> 

  <!-- <router-outlet></router-outlet> -->

  <app-employeelist></app-employeelist>